:root {
    --font-size: 16px;
    --color-background: #6b544f;
    --color-headline: #fffffe;
    --color-paragraph: #fff3ec;
}

@font-face {
    font-family: Oswald;
    src: url('fonts/Oswald-VariableFont_wght.ttf');
}

body {
    background-color: var(--color-background);
    color: var(--color-paragraph);
    font-family: "Oswald", sans-serif;
    font-size: var(--font-size);
    line-height: 1.5;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-headline);
}

.boardgame-listing {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 30px;
    justify-items: center;
    margin-bottom: 60px;
}

.boardgame {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: transform 0.2s ease-in-out;
}

.boardgame:hover {
    transform: scale(1.05);
}

.boardgame-image {
    object-fit: contain;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
