:root {
    --font-size: 16px;
    --color-background: #55423d;
    --color-background-darkened: #3e332b;
    --color-headline: #fffffe;
    --color-paragraph: #fff3ec;
    --color-button: #ffc0ad;
    --color-button-text: #271c19;
    --color-highlight: #e78fb3;
    --color-secondary: #ffc0ad;
    --color-tertiary: #9656a1;
}

@font-face {
    font-family: Oswald;
    src: url('fonts/Oswald-VariableFont_wght.ttf');
}

body {
    background-color: var(--color-background);
    color: var(--color-paragraph);
    font-family: "Oswald", sans-serif;
    font-size: var(--font-size);
}

h1,h2,h3,h4,h5,h6 {
    color: var(--color-headline);
}

.boardgame-listing-section {
    margin-bottom: 50px;
}

.boardgame-listing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 50px;
}


.boardgame {
    height: 150px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.boardgame-image {
    object-fit: contain;
}
