{% for firstLetter, ownedBoardgamesLetterGroup in ownedBoardgamesGroupedByFirstLetter %}
    <section class="boardgame-listing-section owned-boardgame-group">
        <span class="owned-boardgame-first-letter">
            {{ firstLetter|upper }}
        </span>
        <div class="boardgame-listing boardgames-owned">
            {% for ownedBoardgame in ownedBoardgamesLetterGroup %}
                {{ include('boardgame.twig', {'boardgame' : ownedBoardgame}) }}
            {% endfor %}
        </div>
    </section>
{% endfor %}