{% for date, plays in playsGroupedByDate %}
    <section class="date">
        <span class="date-label">
            <time datetime="{{ date }}">{{ date|date("d.m.y") }}</time>
        </span>
        <div class="boardgame-listing played-boardgames">
            {% for play in plays %}
                {{ include('boardgame.twig', {'boardgame' : play.boardgame}) }}
            {% endfor %}
        </div>
    </section>
{% endfor %}