<article class="boardgame">
    <a href="{{ boardgame.getBggUrl() }}" target="_blank">
        <img class="boardgame-image"
             src="{{ boardgame.thumbnailUrl }}"
             alt="{{ boardgame.title }}"
             title="{{ boardgame.title }}"
             loading="lazy"
        />
    </a>
</article>