<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Jan's Boardgames</title>

    <link rel="stylesheet" href="style.css"/>
</head>
<body>
<h2>Owned</h2>
{{ include('boardgames-owned.twig') }}
<h2>Played</h2>
{{ include('boardgames-played.twig') }}
</body>
<script src="script.js"></script>
</html>